extends ../layouts/layout.pug

block content
  main
    section
      h1 Welcome to Create-Vixeny!

    section
      h2 Project Structure
      p Our project consists of two main components:
      ul
        li
          strong Dynamic Server (
          code src
          strong ): This is where all the route functions are located.
        li
          strong Static Server (
          code views
          strong ): This hosts all static files. Specifically, the 
          code views/public
          strong directory will serve as the home for these files, which users can access. For instance, the file 
          code ./views/public/$main.html
          strong is found here.
      p Additionally, we have one active plugin:
      ul
        li
          strong esbuild:
          |  This plugin converts all TypeScript files in 
          code views/public
          |  (.ts) to ECMAScript Modules (.mjs). You can find an example at 
          code /views/public/mjs/main.ts.
      blockquote Remember, Vixeny does not use a 
        code dist
        |  folder; everything is composed on-the-fly. For example, a file named 
        code example.md
        |  will be resolved as 
        code example.html
        |  and accessed as 
        code example
        | .

    section
      p For more information, visit the 
        a(href="https://vixeny.dev/" target="_blank") official Vixeny website
        | .
        
    section
      h2 Join Our Community
      p Be a part of our journey by joining our Discord community. Here, you can stay updated on the latest developments, provide feedback, and interact with the team and other users.
      a(href="https://discord.gg/PMXbQtDD3m") Join us on Discord


